@page "/Aplicantes"
@using Kiosco.App.Data;
@inject NavigationManager NavigationManager;

<div class="card mt-1">
    <div class="card-body p-2 text-center">
        <div class="d-flex flex-row align-items-center">
            <RadzenImage Path="css/imgs/Calendar.png" Class="rz-border-radius-10 float-start me-3" Style="width: 50px; height: 40px;" />
              <div class="d-flex bd-highlight">
                  <p class="fw-bold mb-0"><i class="fas fa-clock"></i> • Aplicantes</p>
              </div>
        </div>      
    </div>
</div>


<div style="overflow: scroll; height: 350px;">
    <table class="table table-sm table-hover table-bordered mt-1">
        <thead class="bg-blue-cau text-center">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">CODIGO DEL EMPLEADO</th>
                <th scope="col">NUMERO DE LA VACANTE</th>
                <th scope="col">FIRMA</th>
            </tr>
        </thead>
        <tbody>
            @if (VacantesAplicar.Any())
            {
                @foreach (var item in VacantesAplicar)
                {
                    <tr>
                        <td>@item.Id</td>
                        <th>@item.EmpId</th>
                        <td>@item.VacanteId</td>
                        <td>@item.FirmImg</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="col-lg-2 p-3">
    <RadzenButton Text="VOLVER" Click="@(args => Volver())" class="bg bg-blue-cau" />
</div>


@code {
    public bool BtnLoading = false;
    private List<VacantesAplicar> VacantesAplicar = new();


    void Volver()
    {
        NavigationManager.NavigateTo($"/home/");
    }

}
